# Dolphin Services
# https://github.com/Intika-Linux-Plasmoid
# Contact: intika@librefox.org
# Modificado: Ing. Frank
# Release: 2022 intika
# License: GPL-3.0
# Version: 1.0

[Desktop Entry]
Type=Service
Actions=extract_7z;extract_rar;extract_tar;extract_tar_gz;extract_gzip;extract_bzip;extract_ace
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin,KonqPopupMenu/Plugin,application/x-7z-compressed,application/x-lha,application/x-arj,application/x-cd-image,application/x-rpm,application/x-deb,application/x-cpio,application/x-cpio-compressed,application/x-compressed-tar,application/zip,application/x-rar,application/x-bzip-compressed-tar,application/x-tar,application/x-gzip,application/x-ace
#X-KDE-Priority=TopLevel
X-KDE-Submenu=Extract 7z
X-KDE-Submenu[es]=Extraer 7z
Icon=archive-extract
Version=5.21

[Desktop Action extract_7z]
Exec=bash -c 'nameext=$(basename "$1"); name=${nameext%.*}; name2=${name%.*}; dir=$(dirname "$1"); cd "$dir"; overw="0"; if ( [ -d "$name2" ] || [ -f "$name2" ] ); then echo "file/folder exists"; overw=$(kdialog --warningyesno "Existing data must be overwritten to extract this archive. Do you want to overwrite them?"; case $? in 0) ow="0";; 1) ow="1";; esac; echo "$ow"; "$ow"); fi; echo $overw; if [ "$overw" == "0" ]; then mkdir "$name2"; 7z x -aoa -y "$nameext" -o"$name2"; kdialog --title "Extract" --msgbox "Extraction done!"; else kdialog --title "Extract" --error "Extraction aborted!"; fi;' 'dummy-param' %F
Icon=archive-extract
Name=Extract 7z
Name[es]=7z

[Desktop Action extract_rar]
Exec=bash -c 'nameext=$(basename "$1"); name=${nameext%.*}; name2=${name%.*}; dir=$(dirname "$1"); cd "$dir"; overw="0"; if ( [ -d "$name2" ] || [ -f "$name2" ] ); then echo "file/folder exists"; overw=$(kdialog --warningyesno "Existing data must be overwritten to extract this archive. Do you want to overwrite them?"; case $? in 0) ow="0";; 1) ow="1";; esac; echo "$ow"; "$ow"); fi; echo $overw; if [ "$overw" == "0" ]; then mkdir "$name2"; unrar x -o+ "$nameext" "$name2"; kdialog --title "Extract" --msgbox "Extraction done!"; else kdialog --title "Extract" --error "Extraction aborted!"; fi;' 'dummy-param' %F
Icon=archive-extract
Name=Extract rar
Name[es]=rar

[Desktop Action extract_tar]
Exec=bash -c 'nameext=$(basename "$1"); name=${nameext%.*}; name2=${name%.*}; dir=$(dirname "$1"); cd "$dir"; overw="0"; if ( [ -d "$name2" ] || [ -f "$name2" ] ); then echo "file/folder exists"; overw=$(kdialog --warningyesno "Existing data must be overwritten to extract this archive. Do you want to overwrite them?"; case $? in 0) ow="0";; 1) ow="1";; esac; echo "$ow"; "$ow"); fi; echo $overw; if [ "$overw" == "0" ]; then mkdir "$name2"; tar -xf "$nameext" -C "$name2" --overwrite; kdialog --title "Extract" --msgbox "Extraction done!"; else kdialog --title "Extract" --error "Extraction aborted!"; fi;' 'dummy-param' %F
Icon=archive-extract
Name=Extract tar
Name[es]=tar

[Desktop Action extract_tar_gz]
Exec=bash -c 'nameext=$(basename "$1"); name=${nameext%.*}; name2=${name%.*}; dir=$(dirname "$1"); cd "$dir"; overw="0"; if ( [ -d "$name2" ] || [ -f "$name2" ] ); then echo "file/folder exists"; overw=$(kdialog --warningyesno "Existing data must be overwritten to extract this archive. Do you want to overwrite them?"; case $? in 0) ow="0";; 1) ow="1";; esac; echo "$ow"; "$ow"); fi; echo $overw; if [ "$overw" == "0" ]; then mkdir "$name2"; tar -xzf "$nameext" -C "$name2" --overwrite; kdialog --title "Extract" --msgbox "Extraction done!"; else kdialog --title "Extract" --error "Extraction aborted!"; fi;' 'dummy-param' %F
Icon=archive-extract
Name=Extract tar.gz
Name[es]=tar.gz

[Desktop Action extract_gzip]
Exec=bash -c 'nameext=$(basename "$1"); name=${nameext%.*}; name2=${name%.*}; dir=$(dirname "$1"); cd "$dir"; overw="0"; if ( [ -d "$name2" ] || [ -f "$name2" ] ); then echo "file/folder exists"; overw=$(kdialog --warningyesno "Existing data must be overwritten to extract this archive. Do you want to overwrite them?"; case $? in 0) ow="0";; 1) ow="1";; esac; echo "$ow"; "$ow"); fi; echo $overw; if [ "$overw" == "0" ]; then mkdir "$name2"; cp "$nameext" "$name2"; cd "$name2"; gzip -d -r -f "$nameext"; kdialog --title "Extract" --msgbox "Extraction done!"; else kdialog --title "Extract" --error "Extraction aborted!"; fi;' 'dummy-param' %F
Icon=archive-extract
Name=Extract gzip
Name[es]=gzip

[Desktop Action extract_bzip]
Exec=bash -c 'nameext=$(basename "$1"); name=${nameext%.*}; name2=${name%.*}; dir=$(dirname "$1"); cd "$dir"; overw="0"; if ( [ -d "$name2" ] || [ -f "$name2" ] ); then echo "file/folder exists"; overw=$(kdialog --warningyesno "Existing data must be overwritten to extract this archive. Do you want to overwrite them?"; case $? in 0) ow="0";; 1) ow="1";; esac; echo "$ow"; "$ow"); fi; echo $overw; if [ "$overw" == "0" ]; then mkdir "$name2"; cp "$nameext" "$name2"; cd "$name2"; bunzip2 -f "$nameext"; kdialog --title "Extract" --msgbox "Extraction done!"; else kdialog --title "Extract" --error "Extraction aborted!"; fi;' 'dummy-param' %F
Icon=archive-extract
Name=Extract bzip
Name[es]=bzip

[Desktop Action extract_ace]
Exec=bash -c 'nameext=$(basename "$1"); name=${nameext%.*}; name2=${name%.*}; dir=$(dirname "$1"); cd "$dir"; overw="0"; if ( [ -d "$name2" ] || [ -f "$name2" ] ); then echo "file/folder exists"; overw=$(kdialog --warningyesno "Existing data must be overwritten to extract this archive. Do you want to overwrite them?"; case $? in 0) ow="0";; 1) ow="1";; esac; echo "$ow"; "$ow"); fi; echo $overw; if [ "$overw" == "0" ]; then mkdir "$name2"; cp "$nameext" "$name2"; cd "$name2"; unace x -o -y "$nameext"; rm "$nameext"; kdialog --title "Extract" --msgbox "Extraction done!"; else kdialog --title "Extract" --error "Extraction aborted!"; fi;' 'dummy-param' %F
Icon=archive-extract
Name=Extract ace
Name[es]=ace
